:root {
  --zen-primary-color: #{{ primary.hex }} !important;
  --zen-colors-primary: #{{ surfaceContainerHigh.hex }} !important;
  --zen-colors-secondary: #{{ surfaceContainerHigh.hex }} !important;
  --zen-colors-tertiary: #{{ surfaceBright.hex }} !important;
  --zen-colors-border: #{{ primary.hex }} !important;
  --toolbarbutton-icon-fill: #{{ primary.hex }} !important;
  --lwt-text-color: #{{ onSurface.hex }} !important;
  --toolbar-field-color: #{{ onSurface.hex }} !important;
  --tab-selected-textcolor: #{{ primary.hex }} !important;
  --toolbar-field-focus-color: #{{ onSurface.hex }} !important;
  --toolbar-color: #{{ onSurface.hex }} !important;
  --newtab-text-primary-color: #{{ onSurface.hex }} !important;
  --arrowpanel-color: #{{ onSurface.hex }} !important;
  --arrowpanel-background: #{{ surface.hex }} !important;
  --sidebar-text-color: #{{ onSurface.hex }} !important;
  --lwt-sidebar-text-color: #{{ onSurface.hex }} !important;
  --lwt-sidebar-background-color: #{{ surfaceDim.hex }} !important;
  --toolbar-bgcolor: #{{ surfaceContainerHigh.hex }} !important;
  --newtab-background-color: #{{ surface.hex }} !important;
  --zen-themed-toolbar-bg: #{{ surface.hex }} !important;
  --zen-main-browser-background: #{{ surface.hex }} !important;
  --toolbox-bgcolor-inactive: #{{ surface.hex }} !important;
  --menu-color: #{{ primary.hex }} !important;
  --menu-hover-color: #{{ onPrimary.hex }} !important;
  --menu-disabled-color: #{{ primaryContainer.hex }} !important;
	--better-findbar-background-color: var(--zen-colors-secondary);
}

tooltip{
  appearance: none !important;
  background-color: #{{ surface.hex }} !important;
  color: #{{ primary.hex }} !important;
  border: 0px !important;
}

#permissions-granted-icon{
  color: #{{ surface.hex }} !important;
}

.sidebar-placesTree {
  background-color: #{{ surface.hex }} !important;
}

#zen-workspaces-button {
  background-color: #{{ surface.hex }} !important;
}

#TabsToolbar {
  background-color: #{{ surface.hex }} !important;
}

.urlbar-background {
  background-color: #{{ surfaceContainerHigh.hex }} !important;
}

.content-shortcuts {
  background-color: #{{ surfaceContainerHigh.hex }} !important;
  border-color: #{{ primary.hex }} !important;
}

.urlbarView-url {
  color: #{{ primary.hex }} !important;
}

#zenEditBookmarkPanelFaviconContainer {
  background: #{{ surfaceDim.hex x}} !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
      fill: #{{ surfaceDim.hex x}};
    }
  }
}

/* Menu item text */
menuitem,
menu {
  color: var(--menu-color) !important;
}
/* Hover state */
menuitem:hover,
menu:hover {
  color: var(--menu-color) !important;
}
/* Disabled item */
menuitem[disabled="true"],
menuitem[disabled="true"] *,
menu[disabled="true"],
menu[disabled="true"] * {
  color: var(--menu-disabled-color) !important;
  opacity: 1 !important;
}

/*hbox#zen-sidebar-top-buttons-customization-target {
    background-color: #{{ surface.hex }} !important;
}*/

hbox#titlebar {
    background-color: #{{ surface.hex }} !important;
    border-radius: 11px !important;
}

/* Hide Back and Forward button when you don't need them */
:root:not([customizing]) #back-button[disabled] {
  display: none !important;
}

:root:not([customizing]) #forward-button[disabled] {
  display: none !important;
}

/* Center url bar text when not focused */
#urlbar:not([focused]) .urlbar-input {
    text-align: center !important;
}

/* Center url bar text when focused */
#urlbar:is([focused]) .urlbar-input {
    text-align: center !important;
}

/* Floating url bar appear animation + shift down */
@keyframes floating-urlbar-show {
    0% {
        opacity: 0;
        scale: 0.8;
        /* translate: -10% 0; */
    }

    70% {
        scale: 1.02;
        /* translate: 1% 0; */
    }

    100% {
        opacity: 1;
        scale: 1;
        /* translate: 0 0; */
    }
}

#urlbar[breakout-extend] {
    animation: 200ms floating-urlbar-show ease-out;
}

/* Zen Minimal Exit Menu */
#navigator-toolbox[zen-right-side="true"] > #zen-sidebar-top-buttons > .titlebar-buttonbox-container > .titlebar-buttonbox {
    margin-top: 11px !important;
}

.titlebar-buttonbox {
    margin-right: 20px;
}

.titlebar-button {
    padding: 0px !important;
    min-height: 13px !important;
    min-width: 13px !important;
    height: 13px !important;
    align-self: center;
    margin-left: 5px !important;
    border-radius: 50px;
    transition: all 100ms;
}

.titlebar-min {
    background-color: hsl(130, 50%, 40%) !important;
}

.titlebar-max, .titlebar-restore {
    background-color: hsl(60, 50%, 50%) !important;
}

.titlebar-close {
    background-color: hsl(0, 50%, 50%) !important;
}

.titlebar-button > image {
    visibility: collapse !important;
}

.titlebar-button {
	background-color: var(--zen-primary-color) !important;
}

.titlebar-min:hover {
	background-color: hsl(60, 50%, 50%) !important;
}

.titlebar-max:hover,
.titlebar-restore:hover {
	background-color: hsl(130, 50%, 40%) !important;
}

.titlebar-close:hover {
	background-color: hsl(0, 50%, 50%) !important;
}

.titlebar-button:hover {
	min-height: 20px !important;
}

.titlebar-button:-moz-window-inactive {
    background-color: #4C4C50 !important;
}

/* Hide the workspace indicator between essentials and pins */
.zen-current-workspace-indicator {
  display: none !important;
}

/* Makes unloaded tabs easier to notice by making them greyscale and transparent. */
.tabbrowser-tab[pending="true"] {
  filter: grayscale(1);
  opacity: 0.5;
}

/* Hide bottom buttons area unless tab sidebar is hovered */
#zen-sidebar-foot-buttons, #zen-workspaces-button, #zen-sidebar-foot-buttons toolbarbutton {
  transition: ease 0.2s !important;
}
#titlebar:not(:hover) {
  zen-workspace {
    & > arrowscrollbox {
      &[overflowing] {
        &::after {
          height: 0px !important;
        }
      }
    }
  }
  #zen-sidebar-foot-buttons {
    min-height: 3px !important;
    gap: 1px !important;
    padding-top: 1px !important;
    toolbarbutton, #zen-workspaces-button {
      opacity: 0 !important;
      height: 0px !important;
    }
  }
}
